body {
    background-image: url("foto.jpg");
    background-size:100%;
    background-position:center;
    background-position-y: -100px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 20px;
}

.container {
    width:fit-content;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    border: #f7ddf2;
    border-radius: 10px;
    box-sizing: content-box;
}

h1 {
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff00d4;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ff00d4;
}

#mensagem {
    color: #ff00ea;
    font-weight: bold;
}

#textoAlterado {
    color: rgb(247, 0, 255);
    font-style: italic;
}

a {
    color: #000000;
    text-decoration: none;
}


p {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

label {
    color: rgb(0, 0, 0);
}
