body {
    background-image: url("foto.jpg");
    background-size:100%;
    background-position:center;
    background-position-y: -100px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 20px;
}

h1 {
    color: rgb(255, 255, 255);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff00d4;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ff00d4;
}

#mensagem {
    color: #ffffff;
    font-weight: bold;
}

#textoAlterado {
    color: rgb(255, 255, 255);
    font-style: italic;
}

a {
    color: #ff00d4;
    text-decoration: none;
}


p {
    color: bisque;

}

label {
    color: bisque;
}
